{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="{% static 'img/fav.png' %}">
    <!-- Author Meta -->
    <meta name="author" content="codepixer">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>MyjobPRO</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
			CSS
			============================================= -->
    <link rel="stylesheet" href="{% static 'css/linearicons.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>

<body>




    <!-- start banner Area -->
    <section class="banner-area relative" id="home">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row fullscreen d-flex align-items-center justify-content-center">
                <div class="banner-content col-lg-12">
                    <h1 class="text-white">
                        <strong>{{ job.title }}</strong>
                    </h1>
                    <div class="d-flex flex-column flex-lg-row justify-content-center">
                        <span class="ml-lg-5 mb-3 mb-lg-0 h5"><i class="fa fa-map-marker" style="font-size:20px;color:white"></i><span class="ml-3 text-white">{{ job.territory}}</span></span>
                        <span class="ml-lg-5 mb-3 mb-lg-0 h5"><i class="fa fa-user" style="font-size:20px;color:white"></i><span class="ml-3 text-white">Full Time</span></span>
                        <span class="ml-lg-5 mb-3 mb-lg-0 h5"><i class="text-white" style="font-size:20px;color:white"><span>&#8377;</span> </i><span class="ml-3 text-white">25k</span></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->

    <!-- Start features Area -->
    <section class="features-area">
        <section class="section section-lg pt-0">
            <div class="container mt-n8 mt-lg-n11 z-2">
                <div class="row justify-content-center">
                    <div class="col">
                        <div class="card shadow-soft border-light p-4 p-md-5">
                            <p class="lead mb-5"><strong class="font-weight-extreme">Rocket</strong> is currently
                                seeking a Frontend Engineer to join our Digital Team focusing on wines & spirits, beauty
                                and lifestyle brands. In this position you will be responsible for effectively managing
                                multiple accounts and team members, including serving as key client contact. The
                                successful candidate is an established leader viewed as a seasoned professional in the
                                digital + social space; respected by senior clients, with a proven track record that
                                demonstrates team growth by leading, maintaining and winning new business.</p>
                            <p class="lead mb-5">Ideal candidates will have 3+ years of full time experience building
                                social media channels for brands, as well creating digital identity, leading content
                                creation, developing an audience, working on event activations and strategic
                                partnerships.</p>
                            <h2>Responsibilities:</h2>
                            <ul class="list-unstyled mb-5">
                                <li class="py-3 lead">
                                    <div class="media"><span class="icon icon-sm mr-3 mt-2"><i
                                                class="fas fa-arrow-alt-circle-right"></i></span>
                                        <div>Work with our leadership team to drive strategic planning and
                                            prioritization</div>
                                    </div>
                                </li>
                                <li class="py-3 lead">
                                    <div class="media"><span class="icon icon-sm mr-3 mt-2"><i
                                                class="fas fa-arrow-alt-circle-right"></i></span>
                                        <div>Partner with cross-functional teams to drive flawless execution of global
                                            initiatives, including the definition and rollout of our international plan
                                        </div>
                                    </div>
                                </li>
                                <li class="py-3 lead">
                                    <div class="media"><span class="icon icon-sm mr-3 mt-2"><i
                                                class="fas fa-arrow-alt-circle-right"></i></span>
                                        <div>Own the end-to-end process: build work plans, synthesize relevant data,
                                            lead analyses and develop recommendations</div>
                                    </div>
                                </li>
                            </ul>
                            <h2>Requirements:</h2>
                            <ul class="list-unstyled mb-5">
                                <li class="py-3 lead">
                                    <div class="media"><span class="icon icon-sm mr-3 mt-2"><i
                                                class="fas fa-plus-circle"></i></span>
                                        <div>3+ years of related work experience at a high-performing technology company
                                            or management consulting; enterprise experience strongly preferred</div>
                                    </div>
                                </li>
                                <li class="py-3 lead">
                                    <div class="media"><span class="icon icon-sm mr-3 mt-2"><i
                                                class="fas fa-plus-circle"></i></span>
                                        <div>Advanced analytical skills (including data modeling) and business insight
                                        </div>
                                    </div>
                                </li>
                                <li class="py-3 lead">
                                    <div class="media"><span class="icon icon-sm mr-3 mt-2"><i
                                                class="fas fa-plus-circle"></i></span>
                                        <div>Experience dealing with unstructured business issues and successfully
                                            leading teams to resolve these issues</div>
                                    </div>
                                </li>
                            </ul>
                            <h2>We offer great benefits too!</h2>
                            <ul class="list-unstyled mb-5">
                                <li class="py-3 lead">
                                    <div class="media"><span class="icon icon-sm text-success mr-3 mt-2"><i
                                                class="fas fa-check-circle"></i></span>
                                        <div>Generous vacation package that increases with tenure in addition to sick
                                            days, personal days and your birthday off too!</div>
                                    </div>
                                </li>
                                <li class="py-3 lead">
                                    <div class="media"><span class="icon icon-sm text-success mr-3 mt-2"><i
                                                class="fas fa-check-circle"></i></span>
                                        <div>Strong company culture and happy work environment!</div>
                                    </div>
                                </li>
                            </ul>
                            <div id="apply" class="row">
                                <div class="col">
                                    <!-- Card -->
                                    <div class="card bg-soft shadow-soft border-0 text-black py-4 p-lg-5">
                                        <div class="card-body p-4">
                                            <div class="mb-5 mb-lg-6 text-center">
                                                <h2 class="h1">Apply for this Job</h2>
                                            </div>
                                            <form action="#">
                                                <div class="row">
                                                    <div class="col-12 col-md-6">
                                                        <div class="form-group"><label class="form-label text-muted"
                                                                for="firstNameLabel">First Name <span
                                                                    class="text-danger">*</span></label>
                                                            <div class="input-group mb-4">
                                                                <div class="input-group-prepend"><span
                                                                        class="input-group-text"><i
                                                                            class="fas fa-user-alt"></i></span></div>
                                                                <input class="form-control" id="firstNameLabel"
                                                                    placeholder="First Name" type="text" required>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-6">
                                                        <div class="form-group"><label class="form-label text-muted"
                                                                for="lastNameLabel">Last Name <span
                                                                    class="text-danger">*</span></label>
                                                            <div class="input-group mb-4">
                                                                <div class="input-group-prepend"><span
                                                                        class="input-group-text"><i
                                                                            class="fas fa-user-alt"></i></span></div>
                                                                <input class="form-control" id="lastNameLabel"
                                                                    placeholder="Last Name" type="text" required>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-6">
                                                        <div class="form-group"><label class="form-label text-muted"
                                                                for="EmailLabel">Email <span
                                                                    class="text-danger">*</span></label>
                                                            <div class="input-group mb-4">
                                                                <div class="input-group-prepend"><span
                                                                        class="input-group-text"><i
                                                                            class="fas fa-envelope"></i></span></div>
                                                                <input class="form-control" id="EmailLabel"
                                                                    placeholder="Can we get your email?" type="email"
                                                                    required>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-6">
                                                        <div class="form-group"><label class="form-label text-muted"
                                                                for="portfolioLabel">Portfolio <span
                                                                    class="text-danger">*</span></label>
                                                            <div class="input-group mb-4">
                                                                <div class="input-group-prepend"><span
                                                                        class="input-group-text"><i
                                                                            class="fas fa-link"></i></span></div><input
                                                                    class="form-control" id="portfolioLabel"
                                                                    placeholder="Linkedin" type="text" required>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-6">
                                                        <div class="form-group"><label class="form-label text-muted"
                                                                for="phonenumberLabel">Phone Number<span
                                                                    class="text-danger">*</span></label>
                                                            <div class="input-group mb-4">
                                                                <div class="input-group-prepend"><span
                                                                        class="input-group-text"><i
                                                                            class="fas fa-phone-square-alt"></i></span>
                                                                </div><input class="form-control" id="phonenumberLabel"
                                                                    placeholder="Phone number" type="number" required>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-6"><label class="form-label text-muted"
                                                            for="customFile">Resume/Cv<span
                                                                class="text-danger">*</span></label>
                                                        <div class="custom-file"><input type="file"
                                                                class="custom-file-input" id="customFile"> <label
                                                                class="custom-file-label" for="customFile">Choose
                                                                file</label></div>
                                                    </div>
                                                    <div class="col col-12 mt-4">
                                                        <div class="form-group"><label class="form-label text-muted"
                                                                for="phonenumberLabel">Few words... <span
                                                                    class="text-danger">*</span></label> <textarea
                                                                class="form-control"
                                                                placeholder="How'd you hear about Rocket?"
                                                                id="message-2" rows="8" required></textarea></div>
                                                        <div class="text-center"><button type="submit"
                                                                class="btn btn-secondary mt-4"><span class="mr-2"><i
                                                                        class="fas fa-paper-plane"></i></span> Submit
                                                                Application</button></div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
    

<br>
    


    <!-- Start callto-action Area -->
    <section class="callto-action-area section-gap" id="join">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="menu-content col-lg-9">
          <div class="title text-center">
            <h1 class="mb-10 text-white">Join us today without any hesitation</h1>
            <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
            <a class="primary-btn" href="#">I am a Candidate</a>
            <a class="primary-btn" href="#">Request Free Demo</a>
          </div>
        </div>
      </div>
    </div>
  </section>
    <!-- End calto-action Area -->

    <!-- Start download Area -->
    <section class="download-area section-gap" id="app">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 download-left">
                    <img class="img-fluid" src="{% static 'img/d1.png' %}" alt="">
                </div>
                <div class="col-lg-6 download-right">
                    <h1>Download <br>
                        MyjobPRO App Today!</h1>
                    <p class="subs">
                        This is exclusive job app where you can search for job vacancies related to your qualification /
                        experience.
                        You can post your CV's for future vacancies. View & apply 1000+ job vacancies of TeamPRO.
                    </p>
                    <div class="d-flex flex-row">
                        <div class="buttons">
                            <i class="fa fa-apple" aria-hidden="true"></i><br>
                            <div class="desc">
                                <a href="#">
                                    <p>
                                        <span>Available</span> <br>
                                        on App Store
                                    </p>
                                </a>
                            </div>
                        </div>
                        <div class="buttons">
                            <i class="fa fa-android" aria-hidden="true"></i>
                            <div class="desc">
                                <a href="#">
                                    <p>
                                        <span>Available</span> <br>
                                        on Play Store
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End download Area -->


    <script src="{% static 'js/vendor/jquery-2.2.4.min.js' %}"></script>
    <script src="{% static 'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' %}"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
    <script type="text/javascript"
        src="{% static 'https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"' %}></script>
  			<script src="{% static ' js/easing.min.js' %}"></script>
    <script src="{% static 'js/hoverIntent.js' %}"></script>
    <script src="{% static 'js/superfish.min.js' %}"></script>
    <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/jquery.sticky.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/parallax.min.js' %}"></script>
    <script src="{% static 'js/mail-script.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>
{% endblock %}