<!-- 
  <div class="row mb-5">
    <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
      <input type="text"  name="job_title_or_company_name" class="form-control form-control-lg" placeholder="Job title, Company...">
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
      <input type="text"  name="territory" class="form-control form-control-lg" placeholder="Location">
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
      <button type="submit" class="btn btn-primary btn-lg btn-block text-white btn-search"><span
          class="icon-search icon mr-2"></span>Search Job</button>
    </div>
  </div>
<hr> -->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<section class="search-banner text-white py-3 form-arka-plan" id="search-banner">
<div class="container py-5 my-5">
  <div class="row">
    <div class="col-md-12">
      <div class="card acik-renk-form">
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
              <input type="text" name="job_title_or_company_name" class="form-control form-control-lg"
                placeholder="Job title, Company...">
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
              <input type="text" name="territory" class="form-control form-control-lg" placeholder="Country">
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
              <input type="text" name="territory" class="form-control form-control-lg" placeholder="Industry">
              <!-- <div class="form-group ">
                <select id="ilceler" class="form-control">
                  <option selected>Tüm İlçeler</option>
                  <option>BMW</option>
                  <option>Audi</option>
                  <option>Maruti</option>
                  <option>Tesla</option>
                </select>
              </div> -->
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
              <button type="submit" class="btn btn-primary btn-lg btn-block text-white btn-search"><span
                  class="icon-search icon mr-2"></span>Search Job</button>
            </div>
            <!-- <div class="col-md-4">
                                <div class="form-group ">
                                    <select id="ilceler" class="form-control" >
                                        <option selected>Tüm İlçeler</option>
                                        <option>BMW</option>
                                        <option>Audi</option>
                                        <option>Maruti</option>
                                        <option>Tesla</option>
                                    </select>
                                </div>
                            </div> -->
            <!-- <div class="col-md-4">
                                <div class="form-group ">
                                    <select id="arac-turu" class="form-control" >
                                        <option selected>Tüm Araç Türleri</option>
                                        <option>Otobüs</option>
                                        <option>Minibüs</option>
                                        <option>Karavan</option>
                                        <option>Vito</option>
                                        <option>Limuzin</option>

                                    </select>
                                </div>
                            </div> -->
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
</section>

<style>
  .firma-ara {
    padding-bottom: 100px;
    padding-top: 100px;
  }

  /* .form-arka-plan {
    background-image: url("https://cdn.filepicker.io/api/file/1WxRtkAQG5h70aoPQdGA/convert?format=jpeg&quality=50");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
  } */

  .acik-renk-form {
    background: rgba(255, 255, 255, 0.58);
  }

  .siyah-cerceve {
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }
  section {
background-color:cyan;
}
</style>